#about, #services, #contact {
    scroll-margin-top: 8vh;
  }

#submit-contact-button {
  background-color: #81D959;
  border-color: #81D959;
}

.landing-section {
  background-color: #81D959;
}

.navbar-section {
  background-color: #81D959;
}

.card-footer {
  background-color: #81D959;
  color: black;
  font-weight: bolder;
  text-align: center;
}
  